%p.text-info 特殊页面是指的由程序生成的页面，不能在编辑器做出来。
%p.text-info 这些页面不可编辑，只能被引用。

%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:page, :title)
      %th.header= mat(:page, :href)

  %tbody
    -@pages.each do |page|
      %tr.list-row
        %td.list-column=page.title
        %td.list-column=page.href