.base-text
  %h4 促销活动
  %ul 
    %li 
      %div 兑奖号码
      %p 可以用于奖已经兑奖数据的导出(Excel格式)
    %li 
      %div 参与微信用户
      %p 导出参与用户(Excel格式)
    %li 
      %div 申请观赛问题
      %p 用于管理观赛申请的问题，包括添加、更新、删除等操作

  %h4 消息管理
  %ul 
    %li
      %div 微网页菜单
      %p 用于设置二级菜单
    %li
      %div 微网页素材
      %p 用于设置网页素材，包括在线编辑器，预览工具等
