%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:mobile, :os)
      %th.header= mat(:mobile, :file)
      %th.header= mat(:mobile, :count)

  %tbody
    -@mobiles.each do |mobile|
      %tr.list-row
        %td.list-column=mobile.os
        %td.list-column
          %a{:href => '/' + mobile.file}
            =mobile.file
        %td.list-column=mobile.count
        