-content_for :javascripts do
  =javascript_include_tag 'jquery-scrolltofixed'
  =javascript_include_tag 'articles_list'
  =javascript_include_tag 'jquery.ui.widget'
  =javascript_include_tag 'jquery.iframe-transport'
  =javascript_include_tag 'jquery.fileupload'
  =javascript_include_tag 'jquery.Jcrop.min'
  :javascript
    $(function() {

      var $offset = $('input[name="menu[offset]"]'),
          $image = $('input[name="menu[image]"]'),
          $editor = $('#image-editor'),
          $progress = $('#progress');

      function updateOffset(c) {
        $offset.val(JSON.stringify(c));
      }

      function updateImageEditor() {
        $editor.empty();
        var src = $image.val();
        if (!src) return;

        var img = $('<img id="cover" class="col-sm-12">').attr('src', src);
        var width = $editor.data("width"), height = $editor.data('height');

        img.on('load', function() {
          $(this).Jcrop({
            onChange: updateOffset,
            onSelect: updateOffset,
            trueSize: [width, height]
          }, function() {
            var offset = $offset.val();
            if (offset) {
              var ovalue = JSON.parse(offset);
              if (ovalue) {
                this.setSelect([ovalue.x, ovalue.y, ovalue.x2, ovalue.y2]);
              }
            }
          });
        });
        $editor.append(img);
      }

      $('#upload').fileupload({
        dataType : 'json',
        paramName : 'file',
        type : 'POST',
        done : function(e, data) {
          var result = data.result;
          $image.val(result.link);
          $editor.data("width", result.width);
          $editor.data("height", result.height);
          $offset.val(null);
          updateImageEditor();
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $progress.html(progress + "%");
          if (progress === 100) {
            $progress.html('');
          }
        }
      });


      $('#preview').on('click', function(d) {
        var base = '/menu/__preview',
            options = $('form.menu').serialize();
        var url = [base, options].join('?');
        $('iframe.iphone-display').attr('src', url);
      });


      $('.iphone').scrollToFixed({marginTop: -100});
      $('.form-actions').scrollToFixed();

      $('.remove-img').on('click', function() {
        $editor.empty();
        $image.val(null);
      });

      updateImageEditor();
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'jquery.fileupload'
  =stylesheet_link_tag 'jquery.Jcrop.min'
  =stylesheet_link_tag 'admin'

%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:menus, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:menus, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:menus, :edit, :id => params[:id])

.tabs-content
  .container
    .row
      = form_for :menu, url(:menus, :update, :id => @menu.id), :method => :put, :class => 'form-horizontal menu' do |f|
        .col-md-4
          =partial 'iphone', :locals => { :src => "/menu/#{f.object.name}" }
        .col-md-8
          %fieldset.form-group
            .form-actions.col-sm-10.col-sm-offset-2
              .btn-group
                =button_tag '预览', :class => 'btn btn-primary', :id => 'preview'
                =f.submit '保存&发布', :class => 'btn btn-primary'
                =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
                =link_to pat(:cancel), url(:menus, :index), :class => 'btn btn-default'

          %fieldset.form-group
            .col-sm-2.controls
              =f.label :name, :class => 'control-label'
            .col-sm-10.controls
              =f.text_field :name, :class => 'form-control input-large input-with-feedback', :disabled => true

          - error = @menu.errors.include?(:title)
          %fieldset.form-group{:class => error ? 'has-error' : ''}
            .col-sm-2.controls
              =f.label :title, :class => 'control-label'
            .col-sm-10.controls
              =f.text_field :title, :class => 'form-control input-large input-with-feedback'
              %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''

          %fieldset.form-group
            .col-sm-2.controls
              =f.label :image, :class => 'control-label'
            .col-sm-10.controls
              =f.hidden_field :offset
              =f.hidden_field :image
              %ol.text-info
                %li 上传的图片不要太大，最好限制在2M以下，否则会等待较长时间
                %li 图片会按选中部分进行裁剪。裁剪后如果宽度大于640px则缩小为640px，高度等比例缩小
                %li 如果选中部分的图片小于640px则直接显示选中部分，并且在显示的时候等比例放大
              - dim = image_size(@menu)
              #image-editor{"data-width" => dim[0], "data-height" => dim[1]}

          %fieldset.form-group
            .col-sm-2.controls
              =f.label :image, :caption => '封面图片:', :class => 'control-label'
            .col-sm-10.controls
              .btn-group
                .btn.btn-primary.fileinput-button
                  %i.glyphicon.glyphicon-plus
                  %span 上传封面图片
                  %input{:type => 'file', :id => 'upload', :class => 'form-control', 'data-url' => '/admin/images/upload', 'data-method' => 'POST'}
                %span#progress
                .btn.btn-default.remove-img
                  =tag_icon(:trash, "删除封面图片") 

                

          %fieldset.form-group
            .col-sm-2.controls
              =f.label :articles, :class => 'control-label'
            %ul.articles-list.col-sm-10.controls
              -@menu.articles.each do |article|
                %li.list-group-item{'data-article-id' => article.id, 'data-article-title' => article.title}
                  %input{:type => 'hidden', :name => "menu[selected_articles][]", :value => article.id }
                  %a{:href => url(:articles, :edit, :id => article.id)}
                    =tag_icon(:edit)
                    =article.title
                  %a.delete-article.pull-right{:href => '#'}
                    =tag_icon(:trash)
                  
            .col-sm-offset-2
              .col-sm-8
                =select_tag :article_id, :class => 'form-control articles-selection', :options => dropdown_articles(@menu)
              %a.col-sm-2.add-article.btn.btn-primary{:href => '#'}添加到菜单

          %fieldset.form-group
            .col-sm-2.controls
              =f.label :pages, :class => 'control-label'
            %ul.pages-list.col-sm-10.controls
              -@menu.pages.each do |page|
                %li.list-group-item{'data-page-id' => page.id, 'data-page-title' => page.title}
                  %input{:type => 'hidden', :name => "menu[selected_pages][]", :value => page.id }
                  %a{:href => page.href}
                    =page.title
                  %a.delete-page.pull-right{:href => '#'}
                    =tag_icon(:trash)

            .col-sm-offset-2
              .col-sm-8
                =select_tag :page_id, :class => 'form-control pages-selection', :options => dropdown_pages(@menu)
              %a.col-sm-2.add-page.btn.btn-primary{:href => '#'}添加到菜单
