-content_for :javascripts do
  :javascript
    $(function() {
      $('.articles_list').on('click', '.delete_article', function(e) {
        e.preventDefault();
        var article = $(this).closest('li.list-group-item');
        var id = article.data('article-id');
        var title = article.data('article-title');
        var $selected = $('.articles_selection');
        var html = '';
        html += '<option value="' + id+ '">';
        html += title;
        html += '</option>';
        $selected.append(html);
        article.remove();
      });

      $('.add_article').on('click', function(e) {
        e.preventDefault();
        var $selected = $('.articles_selection option:selected');
        var text = $selected.text();
        var id = $('.articles_selection').val();
        var html = '';
        html += '<li class="list-group-item" data-article-id="' + id + '" data-article-title="' + text + '">';
        html += '<input type="hidden" name="menu[selected_articles][]" value="' + id +'">';
        html += '<a href="/admin/articles/edit/' + id + '">';
        html += '<i class="icon-edit"></i>';
        html += text;
        html += '</a>';
        html += '<a href="#" class="delete_article pull-right">';
        html += '<i class="icon-trash"></i>';
        html += '</a>';
        html += '</li>';
        $('.articles_list').append(html);
        $selected.remove();
      });
    });


%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:menus, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:menus, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:menus, :edit, :id => params[:id])

.tabs-content
  = form_for :menu, url(:menus, :update, :id => @menu.id), :method => :put, :class => 'form-horizontal' do |f|
    %fieldset.form-group
      .col-sm-2.controls
        =f.label :articles, :class => 'control-label'
      %ul.articles_list.col-sm-10.controls
        -@menu.articles.each do |article|
          %li.list-group-item{'data-article-id' => article.id, 'data-article-title' => article.title}
            %input{:type => 'hidden', :name => "menu[selected_articles][]", :value => article.id }
            %a{:href => url(:articles, :edit, :id => article.id)}
              =tag_icon(:edit)
              =article.title
            %a.delete_article.pull-right{:href => '#'}
              =tag_icon(:trash)
            
      .col-sm-offset-2
        .col-sm-8
          =select_tag :article_id, :class => 'form-control articles_selection', :options => dropdown_articles(@menu)
        %a.col-sm-2.add_article.btn.btn-primary{:href => '#'}添加到菜单

    %fieldset.form-group
      .col-sm-2.controls
        =f.label :pages, :class => 'control-label'
      %ul.articles_list.col-sm-10.controls
        -@menu.pages.each do |page|
          %li.list-group-item
            %a{:href => page.href}
              =page.title

    - error = @menu.errors.include?(:title)
    %fieldset.form-group{:class => error ? 'has-error' : ''}
      .col-sm-2.controls
        =f.label :title, :class => 'control-label'
      .col-sm-10.controls
        =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
        %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''

    - error = @menu.errors.include?(:name)
    %fieldset.form-group{:class => error ? 'has-error' : ''}
      .col-sm-2.controls
        =f.label :name, :class => 'control-label'
      .col-sm-10.controls
        =f.text_field :name, :class => 'form-control input-large input-with-feedback'
        %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''

    %fieldset.form-group
      .form-actions
        =f.submit pat(:save), :class => 'btn btn-primary'
        &nbsp;
        =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
        &nbsp;
        =link_to pat(:cancel), url(:menus, :index), :class => 'btn btn-default'

        

