%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:menus, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:menus, :new)

.tabs-content
  = form_for :menu, url(:menus, :create), :class => 'form-horizontal' do |f|
    - error = @menu.errors.include?(:name)
    %fieldset.form-group{:class => error ? 'has-error' : ''}
      .col-sm-2.controls
        =f.label :name, :class => 'control-label'
      .col-sm-10.controls
        =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
        %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''
    - error = @menu.errors.include?(:title)
    %fieldset.form-group{:class => error ? 'has-error' : ''}
      .col-sm-2.controls
        =f.label :title, :class => 'control-label'
      .col-sm-10.controls
        =f.text_field :title, :class => 'form-control input-large input-with-feedback'
        %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''
    
    .form-actions
      =f.submit pat(:save), :class => 'btn btn-primary'
      &nbsp;
      =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
      &nbsp;
      =link_to pat(:cancel), url(:menus, :index), :class => 'btn btn-default'