%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:auto_reply, :event)
      %th.header= mat(:auto_reply, :param)
      %th.header= mat(:auto_reply, :title)

  %tbody
    -@auto_replies.each do |auto_reply|
      %td.list-column=auto_reply.event
      %td.list-column=auto_reply.param
      %th.list-column=auto_reply.title
  %tfoot
    %tr
      %td{:colspan => 9}
        =will_paginate(@auto_replies, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;')
