-content_for :stylesheets do
  =stylesheet_link_tag 'wechat_menu'

.container
  .row
    =form_tag '/admin/wechat', :method => 'post' do
      %textarea.form-control.menu_contents{:rows => 20, :name => 'menu_contents'}=JSON.pretty_unparse(@json_menu)

      .form-actions.wmenu
        =submit_tag "保存", :class => 'btn btn-primary btn-lg'
