- if @menu[:image] && !@menu[:image].empty? then
  %h1.menu-title=@menu[:title]
  %img{:src => @menu[:image]}
%div{'data-role' => 'content'}
  %ul.schaeffler-menu{'data-role' => 'listview'}
    -@articles.each do |article|
      %li
        %a{:href=>url_for(:article, :index, :name => article.name)}
          != extract_cover_image(article)
          %h2=article.title
          %p
            %span{:style=>'float:right'}=article.created_at.strftime "%Y-%m-%d"
   
    -@pages.each do |page|
      %li
        %a{:href => page.href}
          %img{:src => page.image_href}
          %h2=page.title
          %p
            %span{:style=>'float:right'}=page.created_at.strftime "%Y-%m-%d"

    -if @articles.length == 0 && @pages.length == 0 then
      %h1{:style => 'text-align:center'} 敬请期待

%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a.hidden{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出