%div{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    -@menus.each do |item|
      %li
        %a{:href=>url_for(:article, :index, :name=> item.link)}
          %img{:src => '/images/introduction.jpg'}
          %h2=item.text
          %p=item.description

