%div{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    -@menu.articles.each do |article|
      %li
        %a{:href=>url_for(:article, :index, :name => article.name)}
          %img{:src => '/images/introduction.jpg'}
          %h2=article.title
          %p=article.abstract

%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a.hidden{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出