%img{:src => @menu.image}
%div{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    -@menu.articles.each do |article|
      %li
        %a{:href=>url_for(:article, :index, :name => article.name)}
          != extract_cover_image(article)
          %h2=article.title
          %p
            =article.abstract
            %span{:style=>'float:right'}=article.created_at.strftime "%Y-%m-%d"
          
    -@menu.pages.each do |page|
      %li
        %a{:href => page.href}
          %img{:src => page.image_href}
          %h2=page.title
          %p
            =page.abstract
            %span{:style=>'float:right'}=page.created_at.strftime "%Y-%m-%d"

%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a.hidden{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出