.ui-header {
  height: 49px;
}
.ui-header .logo-name {
  background-image: url('./images/schaeffler_logos.svg');
  background-position: -5px -15px;
  width: 143px;
  height: 17px;
  margin-left: 15px;
  margin-top: 17px;
  float:left;
}
.ui-header .logo-icons {
  background-image: url('./images/schaeffler_logos.svg');
  background-position: -183px -2px;
  width: 115px;
  height: 42px;
  margin-right:15px;
  margin-top:4px;
  float: right;
}
.poster {
  height: 80px;
  background-image: url('./images/innovation_intro_header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}