.ui-header {
  height: 49px;
}

.ui-header .logo-name {
  background-image: url('./images/schaeffler_logos.svg');
  background-position: -5px -15px;
  width: 143px;
  height: 17px;
  margin-left: 20px;
  margin-top: 17px;
  float:left;
}

.ui-header .logo-icons {
  background-image: url('./images/schaeffler_logos.svg');
  background-position: -200px -2px;
  width: 100px;
  height: 42px;
  margin-right:10px;
  margin-top:4px;
  float: right;
}

.poster {
  height: 80px;
  background-image: url('./images/innovation_intro_header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.schaeffler .ui-focus {
  border: 1px solid #00954d;
}

.schaeffler .ui-input-text,
.schaeffler .ui-input-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}

.schaeffler .error {
  color: #E21C38;
  font-size: .9em;
}

.schaeffler .links {
  padding-left: 20px;
}

/* TODO: should not hard code size here*/
.schaeffler .serial-number {
  height: 50px;
  font-size:22px;
  line-height: 22px;
}
.schaeffler .greeting {

}

.schaeffler .prize {
  color: #E21C38;
  font-weight: bold;
}

.schaeffler .activity-rules {
  margin-top: 40px;
  font-size: .9em;
}

.schaeffler img {
  width: 100%;
  clear: both;
  display: block;
}

.schaeffler ul.nu-list {
  list-style: decimal;
}

.schaeffler ul.no-nu-list {
  list-style: none;
  padding-left: 5px;
}