- error = @user.errors.include?(:openid)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :openid, :class => 'control-label'
  .controls
    =f.text_field :openid, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:openid, :class => 'text-error') : ''
- error = @user.errors.include?(:tel)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :tel, :class => 'control-label'
  .controls
    =f.text_field :tel, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:tel, :class => 'text-error') : ''
- error = @user.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''
- error = @user.errors.include?(:workshop)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :workshop, :class => 'control-label'
  .controls
    =f.text_field :workshop, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:workshop, :class => 'text-error') : ''
- error = @user.errors.include?(:workshop_address)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :workshop_address, :class => 'control-label'
  .controls
    ~f.text_area :workshop_address, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:workshop_address, :class => 'text-error') : ''
- error = @user.errors.include?(:join_match)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :join_match, :class => 'control-label'
  .controls
    =f.check_box :join_match, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:join_match, :class => 'text-error') : ''

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:users, :index), :class => 'btn btn-default'