body, h1, h2 {
  font-family: 方正兰亭黑, SimHei;
}

h1.header {
  font-size: 15px;
  display: inline-block;
  color: #685c5c;
  padding-left: 65px;
  padding-top: 13px;
  height: 56px;
  background: url(/images/mobile/logo.png) left center no-repeat;
  margin-left: 5%;
  sub {
    font-size: 19px;
    margin: 5px 0;
    display: block;
  }
}
h2.header {
  text-align: left;
  font-size: 20px;
  color: #95c72a;
  display: block;
  margin-top: 30px;
  margin-left: 5%;
  margin-bottom: 5px;
  sub {
    font-size: 18px;
    color: #c2c2c4;
    padding-left: 15px;
    background: url(/images/mobile/download.png) left center no-repeat;
    margin-top: 8px;
    display: block;
  }
}
a {
  text-decoration: none;
}
body {
  padding: 20px 20px 0 20px;
}
a.download {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  height: 110px;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px #e4e4e4 solid;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
  position: relative;

  h4.name {
    color: #959595;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    font-size: 12px;
  }
}

.apps {
  background: url(/images/mobile/bg.png) no-repeat center center;
  background-size: 100%;
}
.android {  
  background: url(/images/mobile/android.png) center 20% no-repeat,
    -webkit-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center 20% no-repeat,
    -moz-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center 20% no-repeat,
    -o-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center 20% no-repeat,
    linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  &:active {
    background: url(/images/mobile/android.png) center 20% no-repeat
  }
}

.ios {
  background: url(/images/mobile/iphone.png) center 20% no-repeat,
    -webkit-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center 20% no-repeat,
    -moz-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center 20% no-repeat,
    -o-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center 20% no-repeat,
    linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;

  &:active {
    background: url(/images/mobile/iphone.png) center 20% no-repeat;
  } 
}

h1.ad {
  margin-top: 30px;
  color: #218e4d;
  font-size: 22px;
  width: 100%;
  display: block;
  text-align: center;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, transparent 50%,rgba(255,255,255,.2));
  box-reflect: below 1px linear-gradient(transparent, transparent 50%,rgba(255,255,255,.2));
}