h1, h2 {
  font-family: SimHei;
}
h1.header {
  font-size: 25px;
  color: #95c72a;
}
h2.subheader {
  font-size: 18px;
  color: #c2c2c4;
  padding-left: 15px;
  background-image: url(/images/mobile/download.png);
  background-repeat: no-repeat;
  background-position: left center;
}
a {
  text-decoration: none;
}
h4.name {
  color: #959595;
  text-decoration: none;
  text-align: center;
}
body {
  padding: 50px 15px 0 15px;
}