h1, h2 {
  font-family: SimHei;
}
h1.header {
  font-size: 24px;
  color: #95c72a;
}
h2.subheader {
  font-size: 17px;
  color: #c2c2c4;
  padding-left: 15px;
  background: url(/images/mobile/download.png) left center no-repeat;
}
a {
  text-decoration: none;
}
h4.name {
  color: #959595;
  text-decoration: none;
  text-align: center;
}
body {
  padding: 50px 15px 0 15px;
}
a.download {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  height: 150px;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px #e4e4e4 solid;
  border-radius: 4px;
  box-shadow: 0 0 10px #ccc;
}
.android {  
  background: url(/images/mobile/android.png) center center no-repeat,
    -webkit-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center center no-repeat,
    -moz-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center center no-repeat,
    -o-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/android.png) center center no-repeat,
    linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  &:active {
    background: url(/images/mobile/android.png) center center no-repeat
  }
}

.ios {
  background: url(/images/mobile/iphone.png) center center no-repeat,
    -webkit-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center center no-repeat,
    -moz-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center center no-repeat,
    -o-linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;
  background: url(/images/mobile/iphone.png) center center no-repeat,
    linear-gradient(-120deg, white 0%, white 50%, #f9f9f9 50%, #f9f9f9 100%) repeat scroll 0% 0% transparent;

  &:active {
    background: url(/images/mobile/iphone.png) center center no-repeat;
  } 
}