
%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:special_page, :title)
      %th.header= mat(:special_page, :href)

  %tbody
    -@pages.each do |page|
      %tr.list-row
        %td.list-column=page.title
        %td.list-column=page.href