%div{'data-role' => 'content'}
  -if @passed then
    %h4 恭喜您回答正确！
    %p.message 我们奖于8月初和10月初期间，从正确回答问题的中奖者种抽取超级幸运大奖，提供免费到现场激情观赛的机会！
  -else
    %h4 非常抱歉您的回答有误
    %p.message 感谢您参与本次活动，预祝您刮中更多好礼！ 
  
  %p.message 请您持续关注我们的微信公众帐号。或登录舍弗勒汽车售后官方网站了解更多详情：
  %a{:href => 'http://www.schaeffler-aftermarket.cn/'}
    http://www.schaeffler-aftermarket.cn/
%div{'data-role' => 'footer',
     'data-position' => 'fixed'}
  -# This is workaround for show right button only footer
  -# otherwise the footer height is 0
  %a.hidden{:href => '#', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出