%div{'data-role' => 'content'}
  -if @passed then
    %p.message 恭喜您回答正确！
    %p.message 
      您获得了申请现场观赛的资格，我们将于8月初和10月初
      从回答正确的申请者中抽取出幸运者！获得现场激情观赛的机会哦！
    %p.message 届时请您关注舍弗勒汽车售后微信公共帐号！
  -else
    %p.message 
      非常抱歉，您提交的答案不正确！
      %i.cry
    %p.message 预祝您能刮中更多奖品哦！
%div{'data-role' => 'footer',
     'data-position' => 'fixed'}
  -# This is workaround for show right button only footer
  -# otherwise the footer height is 0
  %a.hidden{:href => '#', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出