%div{'data-role' => 'content'}
  -if @lottery.nil? then
    %p.message 您输入的验证码有误！
    %p.message 请检查您的输入是否正确。
  -elsif @lottery.status == 'USED' then
    %p.message 对不起，您输入的兑奖验证码已经被兑换。
    %p.message 您或可输入是否有误。
  -else
    %p.message 您输入的验证码有误！
    %p.message 请检查您的输入是否正确。

  %p.message 如有问题，请拨打活动热线：
  %a{:href => "tel:021-39576702"}
    021-39576702

%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出