%img{:src => '/images/activity/finished-header.jpg'}
%div{'data-role' => 'content'}
  %p.message 舍弗勒2014年度促销活动“买舍弗勒产品，刮好礼，享速度与激情”已经圆满结束，感谢各位修理厂朋友的积极参与，我们将在新的一年里推出更多有趣好玩的活动，各种维修安装工具、丰富精美的礼品等你来赢哦！
  %img{:src => '/images/activity/finished-footer.png'}

  
 