%div{'data-role' => 'page', :id => "activity"}
  %div{'data-role' => 'header'}
    %h1 Activity
  %div{'data-role' => 'content'}
    %form
      %input{:type => 'number'}
      %input{:type => 'submit', :value => 'Submit'}
    .activity-rules
      %p 活动流程:
      %ul
        %li 购买舍弗勒旗下产品
        %li 刮卡获取验证码
        %li 扫描二维码并关注，进入兑奖页
        %li 输入信息兑换成功
        %li 申请观赛成功