%img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}
  =form_for :lottery, url(:activity, :challenge) do |f|
    %p
      =f.label t('activity.home.input')
      = f.text_field :serial, :type => "number", 
        :placeholder => t('activity.home.placeholder'),
        :required => "required",
        :class => "serial-number",
        'data-clear-btn' => "true"
    = f.submit_block t('activity.home.submit')

  .activity-rules
    %p 本次活动仅限修理厂用户参与，如经核实兑奖者非修理厂用户，将取消验证码兑奖资格。