%img{:src => '/images/innovation_intro_header.jpg', :width => '100%'}
%div{'data-role' => 'content'}
  =form_for :lottery, url(:activity, :challenge) do |f|
    = f.text_field_block :serial, :type => "number", 
      :placeholder => t('activity.home.serial.placeholder'),
      :required => 'required'
    = f.submit_block t('activity.home.submit'), 'data-mini' => "true"

  .activity-rules
    %p 活动流程:
    %ul
      %li 购买舍弗勒旗下产品
      %li 刮卡获取验证码
      %li 扫描二维码并关注，进入兑奖页
      %li 输入信息兑换成功
      %li 申请观赛成功