%img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}
  =form_for :lottery, url(:activity, :challenge) do |f|
    %p
      =f.label '欢迎您参与本次活动，请您输入中奖验证码：'
      =f.text_field :serial, :type => "number", 
        :placeholder => t('activity.home.placeholder'),
        :required => "required",
        :class => "serial-number",
        'data-clear-btn' => "true"
    = f.submit_block t('activity.home.submit')

  .activity-rules
    %p 本次活动仅限修理厂用户参与。