%img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}
  :javascript
    $(function() {
      $('.serial-number').inputmask("999999-999999").blur();
    });
  =form_for :lottery, url(:activity, :confirm) do |f|
    %h3 欢迎您参与本次活动
    %p
      =f.text_field :serial, :type => "text", 
        :required => true,
        :placeholder => '请您输入中奖验证码',
        :class => "serial-number",
        'data-clear-btn' => "true"
    = f.submit_block '提交'
  %p.message
    本次活动仅限修理厂用户参与。