%img{:src => '/images/activity/activity-poster.png'}
%div{'data-role' => 'content'}
  %p 自2014年6月至12月，购买舍弗勒LuK，INA，FAG赛事促销装产品，既有机会赢得双重惊喜

  %hr.dashed

  %h4.activity.l1 随手刮出好礼，综合中奖率高达15%！
  %img{:src => '/images/activity/rewards.png'}

  %img{:src => '/images/activity/title-text.png', :style=> 'width: 200px;'}
  %img{:src => '/images/activity/steps.png'}
  
  %hr.dashed
  %h4.activity.l2 回答问题申请观顶级车赛，尽享速度与激情！
  %p 兑奖成功后可获得申请观看国际赛车比赛的机会（同一个微信ID仅有一次申请机会），申请截至日期为10月1日。
  %p 更多详情 <strong style="font-size:1.2em">请点击活动进展</strong>
  %a.left{'data-role' => 'button', :href => url_for(:menu, :index, :name => 'matches')}活动进展
