.overlap
  %img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}

  %h4.activity.l1 随手刮出好礼，综合中奖率高达15%！
  %img{:src => '/images/activity/rewards.jpg'}

  %h5 参与方式：
  .procedure
    .ui-grid-a
      .ui-block-a
        %img{:src => '/images/activity/step1.jpg'}
        %p 购买舍弗勒Luk、INA、FAG赛事促销装产品
      .ui-block-b
        %img{:src => '/images/activity/step2.jpg'}
        %p 打开包装盒，找到刮刮卡，获取验证码
    .ui-grid-a
      .ui-block-a
        %img{:src => '/images/activity/step4.jpg'}
        %p 输入验证码完成兑奖
      .ui-block-b
        %img{:src => '/images/activity/step3.jpg'}
        %p 扫描二维码关注微信进入兑奖页面

  %hr.dashed
  %h4.activity.l2 回答问题申请观顶级车赛，尽享速度与激情！
  %p 兑奖成功后可获得申请观看国际赛车比赛的机会（同一个微信ID仅有一次申请机会），申请截至日期为10月1日。更多详情请点击活动进展
  %a.left{'data-role' => 'button', :href => url_for(:article, :index, :name => 'progress')}活动进展
