%img{:src => '/images/activity/activity-poster.png'}
%div{'data-role' => 'content', :style => 'font-size:13px'}
  %p.indent
    自2014年6月至12月，购买舍弗勒LuK、INA、FAG赛事促销装产品，即有机会赢得双重惊喜！

  %hr.dashed

  %h4.activity.l1 随手刮出好礼，综合中奖率高达15%！
  %p
  %img{:src => '/images/activity/rewards.png'}
  %p
  %img{:src => '/images/activity/progress-text.png', :style=> 'width: 62px; height:19px;'}
  %p  
  %img{:src => '/images/activity/steps.png'}
  
  %hr.dashed
  %h4.activity.l2 回答问题申请观顶级车赛，尽享速度与激情！
  %p 兑奖成功后可获得申请观看DTM德国房车大师赛和WEC世界耐力锦标赛的机会。
  %p
    更多详情，请点击活动进展<br>
    或拨打活动热线
    %a{:href => "tel:400-660-8686"}400-660-8686
    
  %a.left{'data-role' => 'button', :href => url_for(:menu, :index, :name => 'matches')}活动进展
