%img{:src => '/images/introduction.jpg', :width => '100%'}
%div{'data-role' => 'content'}
  .message
    %p=t('activity.intro.description')
  %ul.links
    %li= link_to t('home.title'), url(:home)
    %li= link_to t('activity.submenu'), url(:menu, :index, :name => 'home')