%img{:src => '/images/activity/activity-poster-small.png'}
%div{'data-role' => 'content'}
  %h4 赛事促销活动介绍
  %p.indent{:style => 'font-size:13px;'}
    自2014年6月至12月，购买舍弗勒LuK，INA，FAG赛事促销装产品，既有机会赢得双重惊喜！

  %hr.dashed

  %h4.activity.l1 随手刮出好礼，综合中奖率高达15%！

  .ui-grid-a
    .ui-block-a{:style => 'width:60%'}
      %ul.rewards
        %li 一等奖：新一代iPhone手机
        %li 二等奖：iPad mini
        %li 三等奖：舍弗勒双肩背包
        %li 四等奖：开心话费（10元）
    .ui-block-b{:style => 'width:40%'}
      %img{:src => '/images/activity/rewards-small.png'}

  %img{:src => '/images/activity/progress-text.png', :style=> 'width: 70px;'}

  .ui-grid-a
    .ui-block-a
      %img{:src => '/images/activity/step1-small.png'}
    .ui-block-b
      %p 购买舍弗勒Luk、INA、FAG赛事促销装产品
      %img{:src => '/images/activity/down-arrow.png'}

  .ui-grid-a
    .ui-block-a
      %img{:src => '/images/activity/step2-small.png'}
    .ui-block-b
      %p 打开包装盒，找到刮刮卡，获取验证码
      %img{:src => '/images/activity/down-arrow.png'}

  .ui-grid-a
    .ui-block-a{:style => 'padding-top:20px;'}
      %img{:src => '/images/qr-code.png', :style=>'width:60%;display:inline;'}
      %img{:src => '/images/activity/wechat.png', :style=>'width:20%;display:inline;margin:10px;'}
    .ui-block-b
      %p 扫描刮刮卡上的微信二维码，关注“舍弗勒汽车售后”微信公众帐号点击“促销活动”、“活动兑奖”进入兑奖程序

  %p 按要求输入验证码，系统将直接确认中奖有效性，根据提示正确提交修理厂信息<strong class="highlight">通过验证后，成功完成兑奖！</strong>

  %h4.activity.l2 回答问题申请观顶级车赛，尽享速度与激情！

  %img{:src => '/images/activity/race.png', :style => 'margin-top: 15px'}

  %h4 参与方式
  %p <strong>成功完成兑奖的中奖者，即可根据兑奖程序提示进入“回答问题，申请观赛”环节</strong>（每个微信ID仅有一次申请观赛的机会，以提交问题答案为准）

  %p 申请观赛环节相关介绍
  %p.indent 舍弗勒集团将携手奥迪车队和保时捷车队分别参加2014年<strong>DTM德国房车大师赛</strong>及<strong>WEC世界耐力锦标赛</strong>。两项赛事的分站赛将先后于<strong>9月28日</strong>和<strong>11月2日</strong>登陆广州及上海。届时，我们将从正确回答申请观赛环节问题的中奖者中抽取<strong class="highlight">超级幸运大奖</strong>，提供免费到现场激情观赛的机会！
  %p.indent 申请观赛截止日期为<strong>2014年10月1日</strong>，获奖者名单将在<strong>8月初</strong>以及<strong>10月</strong>初分两次公布，敬请关注。


  %ul.description
    %li 本次活动仅限修理厂用户参与
    %li 请务必提交真实有效的修理厂信息，否则有可能影响验证及礼品发放


%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出