.overlap
  %img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}

  %h4.activity.l1 随手刮出好礼，综合中奖率高达15%！
  %img{:src => '/images/activity/rewards.png'}

  %h5 参与方式：
  %img{:src => '/images/activity/procedure.png'}

  %hr.dashed
  %h4.activity.l2 回答问题申请观顶级车赛，尽享速度与激情！
  %p 兑奖成功后可获得申请观看国际赛车比赛的机会（同一个微信ID仅有一次申请机会），申请截至日期为10月1日。更多详情请点击活动进展
  %a.left{'data-role' => 'button', :href => url_for(:menu, :index, :name => 'matches')}活动进展
