%div{'data-role' => 'content'}
  %img{:src => '/images/progress.jpg'}

%div{'data-role' => 'footer',
     'data-position' => 'fixed'}
  -# This is workaround for show right button only footer
  -# otherwise the footer height is 0
  %a.hidden{:href => '#', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出