%img{:src => '/images/activity/rules.jpg'}
%div{'data-role' => 'content'}
  %h4 申请观赛介绍：
  %p 
  舍弗勒集团将携手奥迪车队和保时捷车队分别参加2014年
  <strong>DTM德国房车大师赛</strong>及<strong>WEC世界耐力锦标赛</strong>。
  两项赛事的分站赛将先后于<strong>9月28日</strong>和
  <strong>11月2日</strong>登陆广州及上海。
  届时，我们将从正确回答申请观赛环节问题的中奖者中抽取
  <strong class="highlight">超级幸运大奖</strong>，提供免费到现场激情观赛的机会！

  %ul.description
    %li 申请观赛截止日期为<strong>2014年10月1日</strong>，获奖者名单将在<strong>8月初</strong>以及<strong>10月</strong>初分两次公布。
    %li 每个微信ID只有一次申请观赛的机会，好好把握哦！

  %a.middle{'data-role' => 'button', :href => url_for(:activity, :questions)}
    进入答题
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出