%img{:src => '/images/activity-poster.jpg'}
%div{'data-role' => 'content'}
  %p 2014 DTM 德国房车大赛广州站和 WEC 世界耐力锦标赛上海站分别将于9月21日和11月2日热力登录。
  %p 舍弗勒分别携手奥迪车队和保时捷车队驰骋赛场。
  %p 您将有机会通过回答问题获得申请观赛的资格，我们将在8月初和10月初分两次抽取能够亲临现场激情观赛的幸运者！
  %p 观赛申请截止日期为10月1日
  %p 每个微信ID仅有一次申请观赛的机会哦！

  %a{:href => url_for(:activity, :questions)}
    进入答题
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出