%div{'data-role' => 'content'}
  %p.message 您的兑奖信息已经成功提交。
  %p
  -if @lottery.level == '4' then
    %p.message 我们会在三个工作日内完成验证，如通过验证，我们将会为您提交的手机号码进行充值。充值周期预计为3-5个工作日，届时请留意手机话费变化信息。
    %p
    %p.message 若未能通过验证或需要补充验证信息，我们将会有短信通知或工作人员直接联系您，感谢您的配合。
  -else
    %p.message 我们会在三个工作日内完成验证，如通过验证，届时将会有工作人员联系您确认奖品兑奖事宜。
    %p.message 请您保持手机通畅。
  -if @lottery.can_apply_join_match?
    %a.middle{'data-role' => 'button', :href => url_for(:activity, :rules)} 申请观赛
    %p
    %a.middle{'data-role' => 'button', :href => url_for(:activity, :index)} 继续兑奖
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出