%div{'data-role' => 'content'}
  %p.message 您的兑奖信息已经成功提交！
  -if @lottery.level == '4' then
    %p.message 我们将在三个工作日内为您指定的手机号码充值，
    %p.message 感谢您参与本次活动，也感谢您对舍弗勒支持与信赖！
  -else
    %p.message 我们将在一周以内联系您，感谢您参与本次活动，也感谢您对舍弗勒支持与信赖！
  -if @lottery.can_apply_join_match?
    %a{:href => url_for(:activity, :rules)} 申请观赛
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出