%div{'data-role' => 'content'}
  .header
    %h1.title=@article[:title]
    .article-timestamp=format_date(@article[:created_at])
  != @article[:body]
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出