%h1.title
  舍弗勒官方应用软件

.wrapper{'data-role' => 'content'}
  %h1.header 
    %sub 舍弗勒产品助手
  %h2.header 
    请选择您的手机系统
    %sub 进入相应页面下载
  .ui-grid-a
    .ui-block-a
      %a.download.ios{:href => url_for(:mobile, :ios)}
        %h4.name iOS (苹果)
    .ui-block-b
      %a.download.android{:href => url_for(:mobile, :android)}
        %h4.name Android (安卓)