%div{'data-role' => 'content'}
  =body ? body.join : '409 Conflict'
%div{'data-role' => 'footer', 'data-position' => 'fixed'}
  %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'} 返回上级
  %a.ui-btn-right.schaeffler-exit{:href => "#", 'data-icon' => "home"} 退出
