-content_for :javascripts do
  =javascript_include_tag 'jquery.ui.widget'
  =javascript_include_tag 'jquery.iframe-transport'
  =javascript_include_tag 'jquery.fileupload'
  =javascript_include_tag 'auto_reply'
  :javascript
    $(function() {
      $('.tabs-content form').auto_reply(#{f.object.to_json});
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'jquery.fileupload'
  
- error = @auto_reply.errors.include?(:event)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :event, :class => 'control-label'
  .col-sm-3.controls
    =f.select :event, :options => [['订阅事件', 'subscribe'], ['菜单事件', 'click'], ['关键字回复','keyword']], :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:event, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:param)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :param, :class => 'control-label'
  .col-sm-10.controls
    =f.text_field :param, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:param, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:weight)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :weight, :class => 'control-label'
  .col-sm-10.controls
    =f.number_field :weight, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:weight, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:rtype)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :rtype, :class => 'control-label'
  .col-sm-3.controls
    =f.select :rtype, :options => [['文本消息', 'text'], ['图文消息', 'news']], :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:rtype, :class => 'text-error') : ''

#reply_editor

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:auto_replies, :index), :class => 'btn btn-default'