-content_for :javascripts do
  =javascript_include_tag 'jquery.ui.widget'
  =javascript_include_tag 'jquery.iframe-transport'
  =javascript_include_tag 'jquery.fileupload'
  =javascript_include_tag 'auto_reply'
  =javascript_include_tag 'jquery.emojiarea'

  :javascript
    $(function() {
      $.emojiarea.path = '/admin/images/emoji';

      var emojis = ['微笑', '撇嘴', '色', '发呆', '得意', '流泪', '害羞', '闭嘴', '睡', '大哭', '尴尬', '发怒', '调皮', '呲牙', '惊讶', '难过', '酷', '冷汗', '抓狂', '吐', '偷笑', '可爱', '白眼', '傲慢', '饥饿', '困', '惊恐', '流汗', '憨笑', '大兵', '奋斗', '咒骂', '疑问', '嘘', '晕', '折磨', '衰', '骷髅', '敲打', '再见', '擦汗', '抠鼻', '鼓掌', '糗大了', '坏笑', '左哼哼', '右哼哼', '哈欠', '鄙视', '委屈', '快哭了', '阴险', '亲亲', '吓', '可怜', '菜刀', '西瓜', '啤酒', '篮球', '乒乓', '咖啡', '饭', '猪头', '玫瑰', '凋谢', '示爱', '爱心', '心碎', '蛋糕', '闪电', '炸弹', '刀', '足球', '瓢虫', '便便', '月亮', '太阳', '礼物', '拥抱', '强', '弱', '握手', '胜利', '抱拳', '勾引', '拳头', '差劲', '爱你', 'NO', 'OK', '爱情', '飞吻', '跳跳', '发抖', '怄火', '转圈', '磕头', '回头', '跳绳', '挥手', '激动', '街舞', '献吻', '左太极', '右太极' ];

      var icons = {}
      $.each(emojis, function(i, name) {
        var emoji = '[' + name + ']', icon = i + '.gif';
        icons[emoji] = icon;
      });
      $.emojiarea.icons = icons;
      $('.tabs-content form').auto_reply(#{f.object.to_json});
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'jquery.fileupload'
  =stylesheet_link_tag 'jquery.emojiarea'
  
- error = @auto_reply.errors.include?(:event)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :event, :class => 'control-label'
  .col-sm-3.controls
    =f.select :event, :options => [['订阅事件', 'subscribe'], ['菜单事件', 'click'], ['关键字回复','keyword']], :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:event, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:param)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :param, :class => 'control-label'
  .col-sm-10.controls
    =f.text_field :param, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:param, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:weight)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :weight, :class => 'control-label'
  .col-sm-10.controls
    =f.number_field :weight, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:weight, :class => 'text-error') : ''


- error = @auto_reply.errors.include?(:rtype)
%fieldset.form-group{:class => error ? 'has-error' : ''}
  .col-sm-2.controls
    =f.label :rtype, :class => 'control-label'
  .col-sm-3.controls
    =f.select :rtype, :options => [['文本消息', 'text'], ['图文消息', 'news']], :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:rtype, :class => 'text-error') : ''

#reply_editor

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:auto_replies, :index), :class => 'btn btn-default'