%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:auto_replies, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:auto_replies, :new)

.tabs-content
  = form_for :auto_reply, url(:auto_replies, :create), :class => 'form-horizontal' do |f|
    =partial 'auto_replies/form', :locals => { :f => f }
