
-content_for :stylesheets do
  =stylesheet_link_tag 'iphone'

.iphone
  .iphone-light-gradient
  .iphone-power-button
  .iphone-voice-toogle
  .iphone-voice-plus
  .iphone-voice-minus
  .iphone-camera
  .iphone-dynamic
  .iphone-black-bg
  %iframe.iphone-display{:src => src}
  .iphone-home