%p.text-info 促销活动页面是由程序生成的页面，不能在编辑器中进行编辑。
%p.text-info 这些页面不可修改，只能被引用。

%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:page, :title)
      %th.header= mat(:page, :href)

  %tbody
    -@pages.each do |page|
      %tr.list-row
        %td.list-column=page.title
        %td.list-column=page.href
        
  %tfoot
    %tr
      %td{:colspan => 2}
        =will_paginate(@pages, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;')