-content_for :javascripts do
  =javascript_include_tag 'jquery.ui.widget'
  =javascript_include_tag 'jquery.iframe-transport'
  =javascript_include_tag 'jquery.fileupload'

  =javascript_include_tag 'jquery-scrolltofixed-min'
  =javascript_include_tag 'froala_editor.min'
  /[if lt IE 9] 
    =javascript_include_tag 'froala_editor_ie8.min'
  =javascript_include_tag 'froala-plugins/media_manager.min'
  =javascript_include_tag 'froala-plugins/video.min'
  =javascript_include_tag 'froala-plugins/colors.min'
  =javascript_include_tag 'froala-plugins/block_styles.min'
  =javascript_include_tag 'froala-plugins/tables.min'
  =javascript_include_tag 'langs/zh_cn'
  :javascript
    $(function() {
      $('textarea[name="article[body]"]').editable({
        preloaderSrc: "/images/preloader.gif",
        inlineMode: false,
        language: "zh_cn",
        mediaManager: true,
        imageUploadURL: "/admin/images/upload",
        imageDeleteURL: "/admin/images/delete",
        imagesLoadURL: "/admin/images/list",
        imageErrorCallback: function (data) {
          console.log(data);
        }
      });

      $progress = $('#progress');
      $('#upload').fileupload({
        dataType : 'json',
        paramName : 'file',
        type : 'POST',
        done : function(e, data) {
          var result = data.result,
              link = result.link;
          $('[name="article[image]"]').val(link);
          $('#cover').attr('src', link);
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $progress.html(progress + "%");
          if (progress === 100) {
            $progress.html('');
          }
        }
      });

      $('.froala-editor:first').scrollToFixed();
      $('.iphone').scrollToFixed({ marginTop: -80 });
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'jquery.fileupload'
  =stylesheet_link_tag 'font-awesome.min'
  =stylesheet_link_tag 'froala_editor.min'
  =stylesheet_link_tag 'froala_reset.min'
  =stylesheet_link_tag 'iphone'
  =stylesheet_link_tag 'admin'

.container
  .row
    .col-md-7
      .modal.fade{:id => 'select-menu', :role => 'dialog'}
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              %button.close{:type => 'button', "data-dismiss" => 'modal'}
                %span &times;
              %h4.modal-title 请选择文章发布的位置
            .modal-body
              - menus = f.object.menus
              - Menu.all.each do |m|
                .checkbox
                  %label
                    %input{:type => 'checkbox', 
                           :value => m.id, 
                           :name => 'article[menus][]',
                           :checked => menus.include?(m) ? true : false } 
                      =m.title
            .modal-footer
              %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} 关闭
              =f.submit "保存&发布", :class => 'btn btn-primary'

      -unless f.object.menus.empty?
        %fieldset.form-group
          = f.label '发布到二级菜单', :class => 'control-label'
          - f.object.menus.each do |m|
            =link_to m.title, url(:menus, :edit, :id => m.id), :class => 'label label-default'
      -else
        -if f.object.id
          %fieldset.form-group
            .alert.alert-success
              没有发布到二级菜单
      - error = @article.errors.include?(:title)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        =f.label :title, :class => 'control-label'
        .controls
          =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
          %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''
      - error = @article.errors.include?(:abstract)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        =f.label :abstract, :class => 'control-label'
        .controls
          =f.text_area :abstract, :rows => 3, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:abstract, :class => 'text-error') : ''
      
      %fieldset.form-group
        =f.label :image, :class => 'control-label'
        =f.hidden_field :image
        .controls
          .col-sm-3
            .btn.btn-success.fileinput-button
              %i.glyphicon.glyphicon-plus
              %span 选择封面图片
              %input{:type => 'file', :id => 'upload', :class => 'form-control', 'data-url' => '/admin/images/upload', 'data-method' => 'POST'}
            %span#progress
          -has_cover = !@article.image.nil? && !@article.image.empty?
          -if has_cover then
            %img.col-sm-5#cover{:src => @article.image}
          -else
            %img.col-sm-5#cover

      - error = @article.errors.include?(:name)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        =f.label :name, :class => 'control-label'
        .controls
          =f.text_field :name, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''
      - error = @article.errors.include?(:body)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        =f.label :body, :class => 'control-label'
        .controls
          =f.text_area :body, :rows => 10, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : ''
      %hr
      %fieldset.form-group
        .form-actions
          =f.submit '保存&预览', :class => 'btn btn-primary'
          =button_tag '发布', :class => 'btn btn-primary', 'data-target' => '#select-menu', 'data-toggle'=> "modal"
          =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
          =link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default'
    .col-md-1
    .col-md-4
      =f.label 'preview', :caption => '预览效果:'
      .iphone
        .iphone-light-gradient
        .iphone-power-button
        .iphone-voice-toogle
        .iphone-voice-plus
        .iphone-voice-minus
        .iphone-camera
        .iphone-dynamic
        .iphone-black-bg
        %iframe.iphone-display{:src => "/article/#{f.object.name}"}
        .iphone-home