-content_for :javascripts do
  =javascript_include_tag 'jquery.ui.widget'
  =javascript_include_tag 'jquery.iframe-transport'
  =javascript_include_tag 'jquery.fileupload'
  =javascript_include_tag 'jquery.Jcrop.min'

  =javascript_include_tag 'jquery-scrolltofixed'
  =javascript_include_tag 'froala_editor.min'
  =javascript_include_tag 'froala-plugins/media_manager.min'
  =javascript_include_tag 'froala-plugins/video.min'
  =javascript_include_tag 'froala-plugins/colors.min'
  =javascript_include_tag 'froala-plugins/block_styles.min'
  =javascript_include_tag 'froala-plugins/tables.min'
  =javascript_include_tag 'langs/zh_cn'
  :javascript
    $(function() {

      var $progress = $('#progress'),
          $actions = $('.form-actions'),
          $offset = $('input[name*="[offset]"]'),
          $image = $('input[name*="[image]"]'),
          $editor = $('#image-editor'),
          $htmleditor = $('textarea[name="article[body]"]'),
          $progress = $('#progress');

      function updateOffset(c) {
        $offset.val(JSON.stringify(c));
      }

      function updateImageEditor() {
        $editor.empty();
        var src = $image.val();
        if (!src) return;

        var img = $('<img id="cover" class="col-sm-12">').attr('src', src);

        img.on('load', function() {
          var width = parseInt($editor.data("width")), 
              height = parseInt($editor.data('height'));
          $(this).Jcrop({
            onChange: updateOffset,
            onSelect: updateOffset,
            trueSize: [width, height],
            aspectRatio: (160 / 100)
          }, function() {
            var offset = $offset.val();
            if (offset) {
              var ovalue = JSON.parse(offset);
              if (ovalue) {
                this.setSelect([ovalue.x, ovalue.y, ovalue.x2, ovalue.y2]);
              }
            }
          });
        });
        $editor.append(img);
      }

      $('#upload').fileupload({
        dataType : 'json',
        paramName : 'file',
        type : 'POST',
        done : function(e, data) {
          var result = data.result;
          $image.val(result.link);
          $editor.data("width", result.width);
          $editor.data("height", result.height);
          console.log(result);
          $offset.val(null);
          updateImageEditor();
        },
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          $progress.html(progress + "%");
          if (progress === 100) {
            $progress.html('');
          }
        }
      });


      $('.remove-img').on('click', function() {
        $editor.empty();
        $image.val(null);
      });

      $htmleditor.editable({
        preloaderSrc: "/images/preloader.gif",
        inlineMode: false,
        language: "zh_cn",
        mediaManager: true,
        imageUploadURL: "/admin/images/upload",
        imageDeleteURL: "/admin/images/delete",
        imagesLoadURL: "/admin/images/list",
        imageErrorCallback: function (data) {
          console.log(data);
        }
      });

      $actions.scrollToFixed();
      $('.iphone').scrollToFixed({ marginTop: -100 });
      $('.froala-editor:first, label[for="article_body"]').scrollToFixed({ marginTop: parseInt($actions.css('height')) });

      function preview(url) {
        var params = $('form.article').serializeArray().filter(function(v) {
          return v.name != '_method';
        });

        var iphone = $('iframe.iphone-display')[0];
        if (iphone) {
          var w = iphone.contentWindow;
          w.$.mobile.changePage( url, {
            type: "post",
            data: $.param(params),
            transition: 'fade',
            changeHash: false
          });
        }
        return false;
      }
      $('#preview').on('click', function() {
        $htmleditor.editable("sync");
        return preview('/article/__preview');
      });

      $('#preview-menu').on('click', function() {
        $htmleditor.editable("sync");
        return preview('/menu/__previewarticle');
      });

      updateImageEditor();
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'jquery.fileupload'
  =stylesheet_link_tag 'font-awesome.min'
  =stylesheet_link_tag 'froala_editor.min'
  =stylesheet_link_tag 'froala_reset.min'
  =stylesheet_link_tag 'jquery.fileupload'
  =stylesheet_link_tag 'jquery.Jcrop.min'
  =stylesheet_link_tag 'admin'

.modal.fade{:id => 'select-menu', :role => 'dialog'}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{:type => 'button', "data-dismiss" => 'modal'}
          %span &times;
        %h4.modal-title 请选择文章发布的位置
      .modal-body
        - menus = f.object.menus
        - Menu.all.each do |m|
          .checkbox
            %label
              %input{:type => 'checkbox', 
                     :value => m.id, 
                     :name => 'article[menus][]',
                     :checked => menus.include?(m) } 
                =m.title
      .modal-footer
        %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} 关闭
        =f.submit "保存&发布", :class => 'btn btn-primary', :id => 'publish'
.container
  .row
    .col-md-4
      =partial 'iphone', :locals => { :src => "/article/#{f.object.name}" }
    .col-md-8
      %fieldset.form-group
        .form-actions.col-sm-11.col-sm-offset-1
          .btn-group
            .btn.btn-primary#preview
              =tag_icon(:search, "预览")
            %button.btn.btn-primary#save{:type => :submit}
              =tag_icon(:save, "保存")
            .btn.btn-primary{"data-target" => "#select-menu", "data-toggle" => "modal"}
              =tag_icon(:ok, "发布")
            =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
            =link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default'

      -unless f.object.menus.empty?
        %fieldset.form-group
          .col-sm-2.controls
            %label.control-label 二级菜单:
          .col-sm-10.controls{:style => 'line-height:30px;'}
            -f.object.menus.each do |m|
              =link_to m.title, url(:menus, :edit, :id => m.id), :class => 'label label-default'
              %input{:type => 'hidden', :name => "article[menus][]", :value => m.id }

      - error = @article.errors.include?(:title)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        .col-sm-2.controls
          =f.label :title, :class => 'control-label'
        .col-sm-10.controls
          =f.text_field :title, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''

      - error = @article.errors.include?(:abstract)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        .col-sm-2.controls
          =f.label :abstract, :class => 'control-label'
        .col-sm-10.controls
          =f.text_area :abstract, :rows => 3, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:abstract, :class => 'text-error') : ''
      

      %fieldset.form-group
        .row
          .col-sm-2.controls
            =f.label :image, :class => 'control-label'
          .col-sm-10.controls
            =f.hidden_field :offset
            =f.hidden_field :image
            %ol.text-info
              %li 如果没有提供二级菜单封面图片，那么默认使用素材内容的第一张图片作为封面
              %li 如果素材的图片比例不合适，那么会保证图片宽度能完全显示，截断高度的超出部分
              %li 封面图片大小为160&times;100。如果图片大于160&times;100，则缩小图片。如果图片小于这个数值，则维持不变，仅在显示的时候进行缩放。
            - dim = image_size(@article)
        .row
          .col-sm-6.col-sm-offset-2
            #image-editor{"data-width" => dim[0], "data-height" => dim[1]}


      %fieldset.form-group
        .col-sm-2.controls
          =f.label :image, :caption => '封面图片:', :class => 'control-label'
        .col-sm-10.controls
          .btn-group
            .btn.btn-primary.fileinput-button
              %i.glyphicon.glyphicon-plus
              %span 上传封面图片
              %input{:type => 'file', :id => 'upload', :class => 'form-control', 'data-url' => '/admin/images/upload', 'data-method' => 'POST'}
              %span#progress 
            .btn.btn-default.remove-img
              =tag_icon(:trash, "删除封面图片")
            .btn.btn-default#preview-menu
              =tag_icon(:search, "预览二级菜单")
              

      - error = @article.errors.include?(:name)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        .col-sm-2.controls
          =f.label :name, :class => 'control-label'
        .col-sm-10.controls
          =f.text_field :name, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''
      - error = @article.errors.include?(:body)
      %fieldset.form-group{:class => error ? 'has-error' : ''}
        .col-sm-2.controls
          %label.control-label{:for => 'article_body'} 正文内容:
        .col-sm-10.controls
          =f.text_area :body, :rows => 10, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : ''

=f.hidden_field :created_at
