-content_for :javascripts do
  =javascript_include_tag 'froala_editor.min'
  =javascript_include_tag 'langs/zh_cn'
  :javascript
    $(function() {
      $('textarea[name="article[body]"]').editable({
        preloaderSrc: "/images/preloader.gif",
        inlineMode: false,
        language: "zh_cn",
        mediaManager: true,
        imageUploadURL: "/admin/images/upload",
        imageDeleteURL: "/admin/images/delete",
        imagesLoadURL: "/admin/images.json",
        imageErrorCallback: function (data) {
          console.log(data);
        }
      });
    });

-content_for :stylesheets do
  =stylesheet_link_tag 'font-awesome.min'
  =stylesheet_link_tag 'froala_editor.min'

- error = @article.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : ''
- error = @article.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : ''
- error = @article.errors.include?(:body)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  .container
    .row
      .col-md-6
        效果预览
        .preview
          %iframe{:src => "/article/#{f.object.name}", :width => "320px", :height=> '480px'}
      .col-md-6
        =f.label :body, :class => 'control-label'
        .controls
          =f.text_area :body, :rows => 10, :class => 'form-control input-large input-with-feedback'
          %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : ''
.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:articles, :index), :class => 'btn btn-default'