!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', 
          :content => 'width=device-width, initial-scale=1'}
    %title 舍弗勒中国
    =stylesheet_link_tag 'themes/schaeffler.min'
    =stylesheet_link_tag 'themes/jquery.mobile.icons.min'
    =stylesheet_link_tag 'jquery.mobile.structure.min'
    =stylesheet_link_tag 'layout'
    =javascript_include_tag 'jquery'
    :javascript
      $(document).bind("mobileinit", function() {
        / $.mobile.pushStateEnabled = false;
        $.mobile.ajaxEnabled = false;
        $.mobile.defaultPageTransition = 'slide';
      });

      function onWeixinReady() {
        WeixinJSBridge.call('hideToolbar');
        $('body').on('click', '.schaeffler-exit', function(e) {
          WeixinJSBridge.call('closeWindow');
          e.preventDefault();
        });
      }

      if (typeof WeixinJSBridge === "undefined") {
        $(document).bind("WeixinJSBridgeReady", onWeixinReady);
      } else {
        onWeixinReady();
      }
    =javascript_include_tag 'jquery.mobile.min'
    =javascript_include_tag 'jquery.inputmask.min'
    =yield_content :stylesheets
    =yield_content :javascripts
  %body{:class => 'schaeffler'}
    %div{ page_style }
      =yield
      %div{'data-role' => 'footer', 'data-position' => 'fixed'}
        %a{:href => '#', 'data-icon' => 'back', 'data-rel' => 'back'}
          返回上级
        %a{:href => "#", 'data-icon' => "home", 
           :class => ["ui-btn-right","schaeffler-exit"]}
          退出
