!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title Schaeffler wechat page
    =stylesheet_link_tag 'themes/schaeffler'
    =stylesheet_link_tag 'themes/jquery.mobile.icons.min'
    =stylesheet_link_tag 'jquery.mobile.structure.min'
    =stylesheet_link_tag 'layout'
    =stylesheet_link_tag 'wysihtml5-colors'
    =javascript_include_tag 'jquery'
    :javascript
      $(document).bind("mobileinit", function() {
        console.log('mobile init');
        $.mobile.defaultPageTransition = 'slide';
      });
    =javascript_include_tag 'jquery.mobile.min'
    =yield_content :assets
  %body
    %div{'data-role' => 'page', :class => 'schaeffler' }
      %div{'data-role' => 'header', 'data-position' => "fixed"}
        .logo-name
        .logo-icons
      = yield